@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: white; /* light grey/blue, very clean */
}

.categories-wrapper {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
}

.input {
  @apply w-full p-3 border border-gray-300 rounded-xl focus:ring-2 focus:ring-instafitcore-green;
}
.textarea {
  @apply w-full p-3 border border-gray-300 rounded-xl mb-4 min-h-[90px];
}

