@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: white; /* light grey/blue, very clean */
}

.categories-wrapper {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
}
